.build-title{
  align-items: center;
  display: flex;
  flex-direction: row;
}

.build-info{
  display: flex;
  flex-direction: column;
}

.build-rule {
  height: 4px;
  margin: 12px 0 14px;
  background: #7a1f16;   /* crimson */
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.build-summary > .text{
  font-size: 1.1rem;
}

.stats{
  display: grid;
  grid-column: auto;
  gap: 6px;
  grid-template-columns: repeat(6, 1fr);
  font-variant-numeric: lining-nums;
}



