body{
  margin: 0;
  background-color: #f6ead2;
}

h1{
  text-align: center;
  font-family: "Grenze Gotisch", serif;
  font-weight: 550;
  color: #1d1712;
}

a {
  text-decoration: none;   /* removes the underline */
  color: inherit;          /* uses the parent's text color instead of blue/purple */
}
